body {
	font: 18px Garamond;
	background: url("../images/GreenFelt.jpg");
	background-size: cover;
	background-position: bottom center;
}
nav {

}
header {
	text-align: center;
	width: 100%;
}
footer {
	background: #000000;
	color: #FFFFFF;
	text-align: center;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
nav a {
	color: #ffffff;
	padding: 20px;
	display: block;
	float: left;
	text-decoration: none;
}
nav a:hover {
text-decoration: underline;
}
.board {
	height: 600px;
	width:680px;
	display: block;
	margin: auto;
}
.card {
	height: 230px;
	width: 150px;
	border: 1px solid black;
	background: url("../images/PlayingCard.jpg");
	background-size: cover;
	border-radius: 10px;
	float: left;
	margin: 5px;
}
.card img {
	height: 100%;
}
h1 {
	color: rgb(255, 255, 255);
	font-size: 3.0em;
	padding: 20px;
}
header p {
	color: #ffd700
}
h1, h2, header p {
	width: 60%;
	margin: auto;
}
.name {
	color: #ff0000;
}
button {
	background: none;
	color: #ffffff;
	display: block;
	margin: 20px auto;
	padding: 10px;
	font-size: 1.0em;
	margin-top: 40px;
}
